/*=============================================
=            ComPuter Lab         =
=============================================*/
.Computer-lab{
    margin-top: 5%;
    margin-bottom: 3%;
    .lab h3{
      font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0px;
      font-style: normal;
      font-size: 22.5px;
      line-height: 33.088px;
  
    }
    .lab p{
      margin-top: 30px;
      text-align: justify;
      line-height: 32px;
      font-size: 20px;
      border: 5px solid black;
    }
  }
  